<!DOCTYPE HTML>
<html lang="en">
    <app-header-pr-page></app-header-pr-page> 
    <body>
       
        <div id="main">
            <!-- header-->
            
            <!--  header end -->
            <!--  wrapper  -->
            <div id="wrapper">
                <!-- content-->
                <div class="content">
                    <!--  section  -->
                    <section class="parallax-section single-par" data-scrollax-parent="true">
                        <div class="bg par-elem "  data-bg="1.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="section-title center-align big-title">
                                <div class="section-title-separator"><span></span></div>
                                <h2><span>Centro de ayuda</span></h2>
                                <span class="section-separator"></span>
                                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet fermentum sem.</h4>
                            </div>
                        </div>
                        <div class="header-sec-link">
                            <div class="container"><a href="#sec1" class="custom-scroll-link color-bg"><i class="fal fa-angle-double-down"></i></a></div>
                        </div>
                    </section>
                    <!--  section  end-->
                    <div class="breadcrumbs-fs fl-wrap">
                        <div class="container">
                            <div class="breadcrumbs fl-wrap"><a [routerLink]="['/pages/home']">Home</a><span>Centro de Ayuda</span></div>
                        </div>
                    </div>
                    <!--  section  -->
                    <section class="grey-blue-bg middle-padding" id="sec1">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="box-widget-item fl-wrap help-bar">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3>Preguntas frecuentes</h3>
                                                </div>
                                                <div class="faq-nav fl-wrap">
                                                    <ul>
                                                        <li><a class="custom-scroll-link act-faq-link" id="#faq1">Pago</a></li>
                                                        <li><a class="custom-scroll-link" href="#faq2">Sugerencias</a></li>
                                                        <li><a class="custom-scroll-link" href="#faq3">Recomendaciones</a></li>
                                                        <li><a class="custom-scroll-link" href="#faq4">Reserva</a></li>
                                                        <li><a class="custom-scroll-link" href="#faq5">Listado</a></li>
                                                    </ul>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="faq1">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Pago</h3>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>
                                    </div>
                                    <!--   list-single-main-item end -->
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="faq2">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Sugerencias</h3>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>
                                    </div>
                                    <!--   list-single-main-item end -->                                
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="faq3">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Recomendaciones</h3>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>
                                    </div>
                                    <!--   list-single-main-item end -->                                
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="faq4">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Reserva</h3>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>
                                    </div>
                                    <!--   list-single-main-item end -->                                
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="faq5">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Listado</h3>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>
                                    </div>
                                    <!--   list-single-main-item end -->                                
                                </div>
                            </div>
                        </div>
                        <div class="limit-box"></div>
                    </section>
                    <!--  section  end-->
                    <!--section -->  
                    <section class="color-bg" id="sec3">
                        <div class="wave-bg wave-bg2"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- colomn-text-->
                                    <div class="colomn-text fl-wrap pad-top-column-text">
                                        <div class="colomn-text-title">
                                            <h3>Video Tutorial</h3>
                                            <p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
                                            <a href="#" class="btn  color2-bg float-btn">Ver video<i class="fab fa-vimeo-v"></i></a>
                                        </div>
                                    </div>
                                    <!--colomn-text   end-->
                                </div>
                                <div class="col-md-6">
                                    <div class="video-box fl-wrap">
                                        <img src="../../../../assetsa/front/images/all/1.jpg" alt="">
                                        <a class="video-box-btn image-popup" href="https://vimeo.com/65888557"><i class="fa fa-play" aria-hidden="true"></i></a>
                                        <span class="video-box-title">Video Tutorials</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- section end -->
                    <!--section -->  
                    <section>
                        <div class="container">
                            <div class="section-title">
                                <h2>Informacion util</h2>
                                <span class="section-separator"></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</p>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <!-- process-item-->
                                    <div class="process-item">
                                        <span class="process-count"> </span>
                                        <div class="time-line-icon"><i class="fal fa-headset"></i></div>
                                        <h4><a href="#"> ¿Necesitas ayuda? Contáctenos</a></h4>
                                        <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.</p>
                                    </div>
                                    <!-- process-item end -->
                                </div>
                                <div class="col-md-4">
                                    <!-- process-item-->
                                    <div class="process-item">
                                        <span class="process-count"> </span>
                                        <div class="time-line-icon"><i class="fal fa-book"></i></div>
                                        <h4> <a href="#">Nuestras reglas</a></h4>
                                        <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.</p>
                                    </div>
                                    <!-- process-item end -->                                
                                </div>
                                <div class="col-md-4">
                                    <!-- process-item-->
                                    <div class="process-item nodecpre">
                                        <span class="process-count"> </span>
                                        <div class="time-line-icon"><i class="fal fa-swatchbook"></i></div>
                                        <h4><a href="#"> Términos y Condiciones </a></h4>
                                        <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.</p>
                                    </div>
                                    <!-- process-item end -->                                
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- section end -->
                </div>
                <!-- content end-->
            </div>
            <!--wrapper end -->
            <!--footer -->
            <app-footer-pr-page></app-footer-pr-page>
            <!--footer end -->          
            <!--register form -->
            
            <!--register form end -->
            <!-- <a class="to-top"><i class="fas fa-caret-up"></i></a> -->
        </div>
        
        <script src="https://maps.googleapis.com/maps/api/js?key=YOURAPIKEYHERE&libraries=places&callback=initAutocomplete"></script>
    </body>
