.form-control:disabled{
    background-color:white;
}

.subtitleModal{
    color:#00478f;
    font-weight: 500;

}

.modalrow{

    margin-bottom: 1rem;
}

.divsubtitle{
    margin-top: 1rem;

}

:host{
    /deep/ {
    
        .cal-header{
            color: white;
            background: #00478f;
        }
        .cal-header:hover{
            color: white;
            background: #00478f!important ;
        }
        .cal-cell:hover{
    
            background: rgba(0, 160, 133, 0.21)!important   ;
        }

        table{
            thead{
                tr{
                    border-color: #00478f;
                    color:white;
                    background: #00478f!important ;
                    th{
                        text-align: center;
                        border: 1px solid #00478f;
                    }
                }
            }
        }
    }
    }