.sidebar-background:after{
    background:#00478f;
}

.titulomenu{ 
    color:white!important;
}

.app-sidebar .navigation li ul li a{
    color: blue;
}


.app-sidebar .navigation .menu-title{
    color: green!important;
}

