
  
    <app-header-pr-page></app-header-pr-page>
    <body>

        <!-- Main  -->
        <div id="main">
            <!-- header-->
            
            <!--  header end -->
            <!--  wrapper  -->
            <div id="wrapper">
                <!-- content-->
                <div class="content">
                    <!--  section  -->
                    <section class="list-single-hero" data-scrollax-parent="true" id="sec1">
                        <div class="bg par-elem "  data-bg="1.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="list-single-hero-title fl-wrap">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="listing-rating-wrap">
                                            <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                        </div>
                                        <h2><span>Cruz del Sur</span></h2>
                                        <div class="list-single-header-contacts fl-wrap">
                                            <ul>
                                                <li><i class="far fa-phone"></i><a  href="#">+569123123123</a></li>
                                                <li><i class="far fa-map-marker-alt"></i><a  href="#">Direccion</a></li>
                                                <li><i class="far fa-envelope"></i><a  href="#">correo@domain.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <!--  list-single-hero-details-->
                                        <div class="list-single-hero-details fl-wrap">
                                            <!--  list-single-hero-rating-->
                                            <div class="list-single-hero-rating">
                                                <div class="rate-class-name">
                                                    <div class="score"><strong>Muy Bueno</strong>200 vistas </div>
                                                    <span>9.5</span>                                             
                                                </div>
                                                <!-- list-single-hero-rating-list-->
                                                <div class="list-single-hero-rating-list">
                                                    <!-- rate item-->
                                                    <div class="rate-item fl-wrap">
                                                        <div class="rate-item-title fl-wrap"><span>Cleanliness</span></div>
                                                        <div class="rate-item-bg" data-percent="100%">
                                                            <div class="rate-item-line color-bg"></div>
                                                        </div>
                                                        <div class="rate-item-percent">5.0</div>
                                                    </div>
                                                    <!-- rate item end-->
                                                    <!-- rate item-->
                                                    <div class="rate-item fl-wrap">
                                                        <div class="rate-item-title fl-wrap"><span>Comfort</span></div>
                                                        <div class="rate-item-bg" data-percent="90%">
                                                            <div class="rate-item-line color-bg"></div>
                                                        </div>
                                                        <div class="rate-item-percent">5.0</div>
                                                    </div>
                                                    <!-- rate item end-->                                                        
                                                    <!-- rate item-->
                                                    <div class="rate-item fl-wrap">
                                                        <div class="rate-item-title fl-wrap"><span>Staf</span></div>
                                                        <div class="rate-item-bg" data-percent="80%">
                                                            <div class="rate-item-line color-bg"></div>
                                                        </div>
                                                        <div class="rate-item-percent">4.0</div>
                                                    </div>
                                                    <!-- rate item end-->  
                                                    <!-- rate item-->
                                                    <div class="rate-item fl-wrap">
                                                        <div class="rate-item-title fl-wrap"><span>Facilities</span></div>
                                                        <div class="rate-item-bg" data-percent="90%">
                                                            <div class="rate-item-line color-bg"></div>
                                                        </div>
                                                        <div class="rate-item-percent">4.5</div>
                                                    </div>
                                                    <!-- rate item end--> 
                                                </div>
                                                <!-- list-single-hero-rating-list end-->
                                            </div>
                                            <!--  list-single-hero-rating  end-->
                                            <div class="clearfix"></div>
                                            <!-- list-single-hero-links-->
                                            
                                            <!--  list-single-hero-links end-->                                            
                                        </div>
                                        <!--  list-single-hero-details  end-->
                                    </div>
                                </div>
                                <div class="breadcrumbs-hero-buttom fl-wrap">
                                    <div class="breadcrumbs"><a [routerLink]="['/pages/home']">Home</a><a [routerLink]="['/pages/cruz_del_sur']">Observatorio</a><span>Cruz del Sur</span></div>
                                   
                                    <div class="list-single-hero-price">Valor Entrada<span>$ 9999</span></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--  section  end-->
                    <!--  section  -->
                    <section class="grey-blue-bg small-padding scroll-nav-container" id="sec2">
                        <!--  scroll-nav-wrapper  -->
                        
                        <!--  scroll-nav-wrapper end  -->                    
                        <!--   container  -->
                        <div class="container">
                            <!--   row  -->
                            <div class="row">
                                <!--   datails -->
                                <div class="col-md-8">
                                    <div class="list-single-main-container ">
                                        <!-- fixed-scroll-column  -->
                                        <div class="fixed-scroll-column">
                                            <div class="fixed-scroll-column-item fl-wrap">
                                                <div class="showshare sfcs fc-button"><i class="far fa-share-alt"></i><span>Share </span></div>
                                                <div class="share-holder fixed-scroll-column-share-container">
                                                    <div class="share-container  isShare"></div>
                                                </div>
                                                <a class="fc-button custom-scroll-link" href="#sec6"><i class="far fa-comment-alt-check"></i> <span>  Add review </span></a>
                                                <a class="fc-button" href="#"><i class="far fa-heart"></i> <span>Save</span></a>
                                                <a class="fc-button" href="booking-single.html"><i class="far fa-bookmark"></i> <span> Book Now </span></a>
                                            </div>
                                        </div>
                                        <!-- fixed-scroll-column end   -->
                                        <div class="list-single-main-media fl-wrap">
                                            <!-- gallery-items   -->
                                            <div class="gallery-items grid-small-pad  list-single-gallery three-coulms lightgallery">
                                                <!-- 1 -->
                                                <div class="gallery-item ">
                                                    <div class="grid-item-holder">
                                                        <div class="box-item">
                                                            <img  src="../../../../assetsa/front/images/gal/1.jpg"   alt="">
                                                            <a href="../../../../assetsa/front/images/gal/1.jpg" class="gal-link popup-image"><i class="fa fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 1 end -->
                                                <!-- 2 -->
                                                <div class="gallery-item">
                                                    <div class="grid-item-holder">
                                                        <div class="box-item">
                                                            <img  src="../../../../assetsa/front/images/gal/1.jpg"   alt="">
                                                            <a href="../../../../assetsa/front/images/gal/1.jpg" class="gal-link popup-image"><i class="fa fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 2 end -->
                                                <!-- 3 -->
                                                <div class="gallery-item gallery-item-second">
                                                    <div class="grid-item-holder">
                                                        <div class="box-item">
                                                            <img  src="../../../../assetsa/front/images/gal/1.jpg"   alt="">
                                                            <a href="../../../../assetsa/front/images/gal/1.jpg" class="gal-link popup-image"><i class="fa fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 3 end -->
                                                <!-- 4 -->
                                                <div class="gallery-item">
                                                    <div class="grid-item-holder">
                                                        <div class="box-item">
                                                            <img  src="../../../../assetsa/front/images/gal/1.jpg"   alt="">
                                                            <a href="../../../../assetsa/front/images/gal/1.jpg" class="gal-link popup-image"><i class="fa fa-search"  ></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 4 end -->
                                                <!-- 5 -->
                                                <div class="gallery-item">
                                                    <div class="grid-item-holder">
                                                        <div class="box-item">
                                                            <img  src="../../../../assetsa/front/images/gal/1.jpg"   alt="">
                                                            <a href="../../../../assetsa/front/images/gal/1.jpg" class="gal-link popup-image"><i class="fa fa-search"  ></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 5 end -->
                                                <!-- 7 -->
                                                <div class="gallery-item">
                                                    <div class="grid-item-holder">
                                                        <div class="box-item">
                                                            <img  src="../../../../assetsa/front/images/gal/1.jpg"   alt="">
                                                            <div class="more-photos-button dynamic-gal"  data-dynamicPath="[{'src': 'images/gal/1.jpg'}, {'src': 'images/gal/1.jpg'},{'src': 'images/gal/1.jpg'}]">Other <span>4 photos</span><i class="far fa-long-arrow-right"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 7 end -->
                                            </div>
                                            <!-- end gallery items -->                                          
                                        </div>
                                        <!-- list-single-header end -->
                                        <div class="list-single-facts fl-wrap">
                                            <!-- inline-facts -->
                                            <div class="inline-facts-wrap">
                                                <div class="inline-facts">
                                                    <i class="fal fa-bed"></i>
                                                    <div class="milestone-counter">
                                                        <div class="stats animaper">
                                                            45
                                                        </div>
                                                    </div>
                                                    <h6>Hotel Rooms</h6>
                                                </div>
                                            </div>
                                            <!-- inline-facts end -->
                                            <!-- inline-facts  -->
                                            <div class="inline-facts-wrap">
                                                <div class="inline-facts">
                                                    <i class="fal fa-users"></i>
                                                    <div class="milestone-counter">
                                                        <div class="stats animaper">
                                                            2557
                                                        </div>
                                                    </div>
                                                    <h6>Customers Every Year</h6>
                                                </div>
                                            </div>
                                            <!-- inline-facts end -->
                                            <!-- inline-facts -->
                                            <div class="inline-facts-wrap">
                                                <div class="inline-facts">
                                                    <i class="fal fa-taxi"></i>
                                                    <div class="milestone-counter">
                                                        <div class="stats animaper">
                                                            15
                                                        </div>
                                                    </div>
                                                    <h6>Distance to Center</h6>
                                                </div>
                                            </div>
                                            <!-- inline-facts end -->
                                            <!-- inline-facts -->
                                            <div class="inline-facts-wrap">
                                                <div class="inline-facts">
                                                    <i class="fal fa-cocktail"></i>
                                                    <div class="milestone-counter">
                                                        <div class="stats animaper">
                                                            4
                                                        </div>
                                                    </div>
                                                    <h6>Restaurant Inside</h6>
                                                </div>
                                            </div>
                                            <!-- inline-facts end -->                                                                        
                                        </div>
                                        <!--   list-single-main-item -->
                                        <div class="list-single-main-item fl-wrap">
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>Sobre Cruz del Sur</h3>
                                            </div>
                                            <p *ngFor = "let listText of _txtFilt"> {{listText.name}}</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>
                                            <a href="https://vimeo.com/70851162" class="btn flat-btn color-bg big-btn float-btn image-popup">Video Presentation <i class="fal fa-play"></i></a>
                                        </div>
                                        <!--   list-single-main-item end -->
                                        <!--   list-single-main-item -->
                                        <div class="list-single-main-item fl-wrap" id="sec3">
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>Amenities</h3>
                                            </div>
                                            <div class="listing-features fl-wrap">
                                                <ul>
                                                    <li><i class="fal fa-rocket"></i> Elevator in building</li>
                                                    <li><i class="fal fa-wifi"></i> Free Wi Fi</li>
                                                    <li><i class="fal fa-parking"></i> Free Parking</li>
                                                    <li><i class="fal fa-snowflake"></i> Air Conditioned</li>
                                                    <li><i class="fal fa-plane"></i>Airport Shuttle</li>
                                                    <li><i class="fal fa-paw"></i> Pet Friendly</li>
                                                    <li><i class="fal fa-utensils"></i> Restaurant Inside</li>
                                                    <li><i class="fal fa-wheelchair"></i> Wheelchair Friendly</li>
                                                </ul>
                                            </div>
                                            <span class="fw-separator"></span>
                                            <div class="list-single-main-item-title no-dec-title fl-wrap">
                                                <h3>Tags</h3>
                                            </div>
                                            <div class="list-single-tags tags-stylwrap">
                                                <a href="#">Astroturismo</a>
                                                <a href="#">Turismo</a>
                                                <a href="#">Room</a>
                                                <a href="#">Spa</a>
                                                <a href="#">Restourant</a>
                                                <a href="#">Parking</a>                                                                               
                                            </div>
                                        </div>
                                        <!--   list-single-main-item end -->     
                                        <!-- accordion-->
                                        
                                        <!-- accordion end -->                                                     
                                        <!--   list-single-main-item -->
                                        
                                        <!-- list-single-main-item end -->
                                        <!-- list-single-main-item -->   
                                        
                                        <!-- list-single-main-item end -->   
                                        <!-- list-single-main-item -->   
                                        
                                        <!-- list-single-main-item end -->                                    
                                    </div>
                                </div>
                                <!--   datails end  -->
                                <!--   sidebar  -->
                                <div class="col-md-4">
                                    <!--box-widget-wrap -->  
                                    <div class="box-widget-wrap">
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
                                            <div class="box-widget">
                                                <div class="box-widget-content">
                                                    <div class="box-widget-item-header">





                                                            <div class="row card-block">
                                                                    <div class="col-md-12">
                                                                        
                                                                        <div *ngIf="mostrar2">
                                                                    
                                                                                  <h3 style="text-align: center">Buscar Tours Disponibles: </h3>
                                                                    
                                                                      <form name="buscar" (ngSubmit)="onSubmit()" #s="ngForm" style="text-align: center;border-top: 1px solid #eee;" novalidate>
                                                                                             
                                                                                            <div class="form-group">
                                                                                            
                                                                                              <div class="input-wrapper">
                                                                                                <label>Selecciona Rango de Fecha:</label>
                                                                                                <br>
                                                                                                <input [(ngModel)]="modelobuscar.fechaabuscar" name="fechaabuscar" #fechaabuscar="ngModel" [selectMode]="'range'"
                                                                                                       [owlDateTimeTrigger]="dtPicker3"  [owlDateTime]="dtPicker3" [ngClass]="{ 'is-invalid': s.submitted && fechaabuscar.invalid }"  required >
                                                                                                       <div *ngIf="s.submitted && fechaabuscar.invalid" class="invalid-feedback">
                                                                                                                                    <div *ngIf="fechaabuscar.errors.required">Fecha es requerida</div>
                                                                                                </div>
                                                                                                <owl-date-time #dtPicker3 pickerType="calendar" ></owl-date-time>
                                                                                            </div>
                                                                    
                                                                                            
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <button class="btn btn-primary" style="color:#fff!important" [disabled]="!s.valid">Buscar<i class="fal fa-paper-plane"></i></button>
                                                                                            </div>
                                                                                        </form>
                                                                        </div>
                                                                        <div class="card-block">
                                                                        <div class="no-more-tables">
                                                                              <!-- <table class="table table-bordered table-striped mb-0"> -->
                                                                                  <!-- <thead>
                                                                                      <tr>
                                                                                        <th>
                                                                                          Fecha
                                                                                        </th>
                                                                                        <th>
                                                                                          Hora  
                                                                                        </th>
                                                                                        <th class="numeric">
                                                                                          Valor
                                                                                        </th>
                                                                                        
                                                                                      </tr>
                                                                                    </thead> -->
                                                                                    
                                                                                    
                                                                                    
                                                                        <div *ngIf="mostrar == 1" >
                                                                            
                                                                    
                                                                    
                                                                            <div *ngIf="mostrar2">
                                                                                    <div class="form-group">
                                                                                            <div class="cal-item">
                                                                                                    <label> Cantidad:</label>

                                                                                                    <div class="quantity-item fl-wrap" style="border-bottom: 1px solid #e3e3e3;
                                                                                                    height: 100px;">
                                                                                                            <div class="quantity" style="width: 100%;">
                                                                                                                    
                                                                                                                      <input min="1" max="10" type="number" [(ngModel)]="datocompra.compra" name="compra" #compra="ngModel">

                                                                                                            </div>
                                                                                                        </div>

                                                                                                    
                                                                                                    </div>
                                                                                              
                                                                                               
                                                                                         </div>
                                                                    
                                                                                <div   *ngFor="let dia of arrayFecha;let index2 = index;trackBy:trackByIndex;" >
                                                                                    
<!--                                                                     <div>
 -->                                                                        <form name="bookFormCalc"   class="book-form custom-form">
                                                                            <fieldset>
                                                                            <div class="cal-item">
                                                                                    <div class="bookdate-container  fl-wrap">
                                                                                        <br>
                                                                                        <label style="padding-top:20px;">Dia: <b> {{dia}}</b></label>
                                                                                        <!-- <input type="text"    placeholder="Date In-Out" name="bookdates"   value=""/> -->
                                                                                        <!-- <div class="bookdate-container-dayscounter"><i class="far fa-question-circle"></i><span>Days : <strong>0</strong></span></div> -->
                                                                                    </div>
                                                                                </div>
                                                                                <div class="cal-item" *ngFor = "let listatour of arrayEventos;let index = index;trackBy:trackByIndex;">
                                                                                        <!-- <button (click)="menoraochenta(listatour,index)" >asd
                                                                                        </button> -->
                                                                                           <div *ngIf="dia==listatour.fechaevento">
                                                                                                <div *ngIf="listatour.estado=='activo'">
                                                                                               <!-- (submit)="recibirdatoscompra()" -->
                                                                                               <!-- (keyup.enter)="text = $event.target.value;onKeyUp()" -->
                                                                                                   <div name="datoscompra" novalidate>
                                                                                                      <div class="form-group" style="padding-top:0px;padding-bottom: 0px">
                                                                                                                    <label>
                                                                                                             <div class="total-coast fl-wrap"><b>Valor costo: </b> {{listatour.valor}} <span>$</span></div>

                                                                                                           <!-- <b>Valor:</b> {{listatour.valor}}  -->
                                                                                                                    </label>
                                                                                                      </div>
                                                                                       
                                                                                                      
                                                                                                      
                                                                           
                                                                                                           <div class="form-group">
                                                                                                               <button class="btn flat-btn color-bg big-btn" (click)='recibirdatoscompra(listatour)'  value="{{listatour._id}}">
                                                                                                                   {{listatour.hora}}<i class="fa fa-clock-o"></i>
                                                                                                               </button>
                                                                                                          </div>
                                                                                       
                                                                                       
                                                                                       <!--   </div> -->
                                                                                       
                                                                                                     </div>
                                                                                               </div>
                                                                                           </div>
                                                                                                           
                                                                                                       
                                                                                                       
                                                                                       </div>
                                                                            </fieldset>
                                                                            </form>
                                                                            
                                                                            <!-- <div class="bookdate-container  fl-wrap">
                                                                                    <label><i class="fal fa-calendar-check"></i> When </label>
                                                                                <div class="bookdate-container-dayscounter">{{dia}}<i class="far fa-question-circle"></i><span>Dia : <strong>{{dia}}</strong></span></div>
                                                                            </div >   -->
                                                                                    
                                                                          <div >      
                                                                                
                                                                        </div> 
                                                                                
                                                                    
                                                                                   <!--</div> -->     
                                                                    
                                                                                           
                                                                                          
                                                                                </div>
                                                                                </div>
                                                                                
                                                                                <div *ngIf="show" >
                                                                                
                                                                                        <app-ingresardatoscliente
                                                                                        [datafinal]="text"
                                                                                        [datacompra]="datocompra"     
                                                                                        
                                                                                        >
                                                                                      </app-ingresardatoscliente>
                                                                                
                                                                                </div>
                                                                           
                                                                    
                                                                    
                                                                               
                                                                              
                                                                                      
                                                                                      
                                                                    
                                                                                     
                                                                                    
                                                                    
                                                                    
                                                                    
                                                                                      
                                                                    
                                                                    
                                                                         
                                                                        </div>
                                                                        <div *ngIf="mostrar == 2" >
                                                                         <span class="badge badge-success"> No hay datos en el rango de fechas seleccionado</span>
                                                                    
                                                                    
                                                                        </div>
                                                                      <!-- </table> -->
                                                                          
                                                                       
                                                                    
                                                                     </div>
                                                                    
                                                                    </div>
                                                                    </div>
                                                                    </div>
                                                                    
                                                                    
                                                                    <router-outlet></router-outlet>



























<!--                                                         <h3> Selleccion de  Entrada</h3>
 -->                                                    </div>
                                                    <!-- <form name="bookFormCalc"   class="book-form custom-form">
                                                        <fieldset>
                                                            <div class="cal-item">
                                                                <div class="listsearch-input-item">
                                                                    <label>Room Type</label>
                                                                    <select data-placeholder="Room Type" name="repopt"   class="chosen-select no-search-select" >
                                                                        <option value="0" selected>Select Room</option>
                                                                        <option value="81">Standard Family Room - 81$</option>
                                                                        <option value="122">Superior Double Room - 122$</option>
                                                                        <option value="310">Deluxe Single Room - 310$</option>
                                                                    </select>
                                                                    <input type="text" name="item_total" class="hid-input"  value=""  data-form="{repopt}">
                                                                </div>
                                                            </div>
                                                            <div class="cal-item">
                                                                <div class="bookdate-container  fl-wrap">
                                                                    <label><i class="fal fa-calendar-check"></i> When </label>
                                                                    <input type="text"    placeholder="Date In-Out" name="bookdates"   value=""/>
                                                                    <div class="bookdate-container-dayscounter"><i class="far fa-question-circle"></i><span>Days : <strong>0</strong></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="cal-item">
                                                                <div class="quantity-item fl-wrap">
                                                                    <label> Adults</label>
                                                                    <div class="quantity">
                                                                        <input type="number" name="qty3" min="0" max="3" step="1" value="0">
                                                                        <input type="text" name="item_total" class="hid-input" value="0" data-form="{qty3} * {repopt} - {repopt}">
                                                                    </div>
                                                                </div>
                                                                <div class="quantity-item fl-wrap fcit">
                                                                    <label> Children</label>
                                                                    <div class="quantity">
                                                                        <input type="number"  name="qty2" min="0" max="3" step="1" value="0">
                                                                        <select name="sale" class="hid-input">
                                                                            <option value=".7"  selected>sale</option>
                                                                        </select>
                                                                        <input type="text" name="item_total" class="hid-input" value="0" data-form="({repopt} * {sale})*{qty2}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <input type="number"  id="totaldays" name="qty5" class="hid-input">
                                                        <div class="total-coast fl-wrap"><strong>Total Cost</strong> <span>$ <input type="text" name="grand_total" value="" data-form="SUM({item_total}) * {qty5}"></span></div>
                                                        <button class="btnaplly color2-bg">Book Now<i class="fal fa-paper-plane"></i></button>
                                                    </form> -->
                                                </div>
                                            </div>
                                        </div>
                                        <!--box-widget-item end -->                                      
                                        <!--box-widget-item -->
                                        
                                        <!--box-widget-item end -->                                       
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
                                            <div class="box-widget">
                                                <div class="box-widget-content">
                                                    <div class="box-widget-item-header">
                                                        <h3> Contact Information</h3>
                                                    </div>
                                                    <div class="box-widget-list">
                                                        <ul>
                                                            <li><span><i class="fal fa-map-marker"></i> Adress :</span> <a href="#">USA 27TH Brooklyn NY</a></li>
                                                            <li><span><i class="fal fa-phone"></i> Phone :</span> <a href="#">+7(123)987654</a></li>
                                                            <li><span><i class="fal fa-envelope"></i> Mail :</span> <a href="#">AlisaNoory@domain.com</a></li>
                                                            <li><span><i class="fal fa-browser"></i> Website :</span> <a href="#">themeforest.net</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="list-widget-social">
                                                        <ul>
                                                            <li><a href="#" target="_blank" ><i class="fab fa-facebook-f"></i></a></li>
                                                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a href="#" target="_blank" ><i class="fab fa-vk"></i></a></li>
                                                            <li><a href="#" target="_blank" ><i class="fab fa-instagram"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--box-widget-item end -->                          
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
                                            <div class="box-widget">
                                                <div class="box-widget-content">
                                                    <div class="box-widget-item-header">
                                                        <h3> Rango de Precio </h3>
                                                    </div>
                                                    <div class="claim-price-wdget fl-wrap">
                                                        <div class="claim-price-wdget-content fl-wrap">
                                                            <div class="pricerange fl-wrap"><span>Precio : </span> $5.000 - $10.000 </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--box-widget-item end -->                             
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
                                            <div id="weather-widget" class="gradient-bg" data-city="New York" data-country="USA"></div>
                                        </div>
                                                      
                                    </div>
                                    <!--box-widget-wrap end -->  
                                </div>
                                <!--   sidebar end  -->
                            </div>
                            <!--   row end  -->
                        </div>
                        <!--   container  end  -->
                    </section>
                    <!--  section  end-->
                </div>
                <!-- content end-->
                <div class="limit-box fl-wrap"></div>
            </div>
            <!--wrapper end -->
            <!--footer -->
            <app-footer-pr-page></app-footer-pr-page>
            <!--footer end -->          
            <!--register form -->
            
           
            <!--ajax-modal-container end -->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
       
    </body>
