<section id="basic-form-layouts">
	<div class="row">
        <div class="col-sm-12">
			<div class="content-header">Editar / Listar  Usuarios</div>
			<div class="alert alert-danger" *ngIf="status=='error'">Ha ocurrido un error en el servidor de tipo:"{{errorMsg}}</div>
        </div>
    </div>
	<div class="row">
	</div>
	<div class="row match-height">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title" id="basic-layout-form-center">Usuarios</h4>
                    <p class="mb-0">Listado de Usuarios actualmente registradas <code> las acciones permitidas son: editar, crear, eliminar </code></p>
                    
				</div>
				<div class="card-body">
					<div class="px-3">
                         <!--    <app-crud-table [dataManager]="dataManager"></app-crud-table> -->
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
<!-- 		<app-rol-smart-data-table></app-rol-smart-data-table>
 -->	</div>
	<!-- <div>
		<app-empresa-smart-data-table></app-empresa-smart-data-table>
	</div> -->
</section>

