
     <!-- header-->
     <!--  header end -->
    
        <div id="main" class="main-footer"> 
            <!--footer -->
       
                <!--subscribe-wrap-->
                <footer id="Footer" class="clearfix">

		
		
		
                    <div class="footer_copy">
                        <div class="container">
                            <div class="column one">
        
                                
                                <!-- Copyrights -->
                                <div class="copyright">
                                    Sitio web desarrollado por BrechaDigital.  Todos los derechos reservados.						
                                </div>
                              
                                
                            </div>
                        </div>
                    </div>
        
                
                
            </footer>
                
        
       
            <!-- <a class="to-top"><i class="fas fa-caret-up"></i></a> -->
        </div>
     